/*Feuille de style CSS pour séparer le responsive du reste */

@media screen and (max-width: 800px) {
    .container {
        width: 80vw;
        margin-left: 0;
    }

    #iframebtc {
        width: 80vw;
        margin-left: 0;
    }

    #logopng {
        position: absolute;
        display: block;
        width: 80vw;
    }

    #Menu {
        margin-top: 80px;
    }

    #lbmode {
        margin-left: 10vw;
        margin-top: 150px;
    }

    #infobulle {
        left: 10%;
    }
    main{
        margin:0;
    }
    nav{
        margin:0;
        width:100vw;
    }
    .container,
    .container1{
        transition:none;
        margin:0;
        width:90vw;
    }
    .container:hover,
.container1:hover {
    transform: scale(1);
    opacity:1;
}
#iframebtc{
    width:100vw;
    margin:0;
}
    
}