








@media screen and (max-width: 800px) {
    .container{
        width:80vw;
        margin-left:0;
    }
    #iframebtc{
        width:80vw;
        margin-left:0;
    }
    #logopng{
        position: absolute;
        display:block;
        width:80vw;
    }
    #Menu{
        margin-top:80px;
    }
    #lbmode{
        margin-left:10vw;
        margin-top:150px;
    }
    #infobulle{
        left:10%;
        
    }
}